[Desktop Entry]
Exec=/usr/lib/linuxmint/mintwelcome/mintwelcome.py  
Icon=hamonikr-logo
Terminal=false
Type=Application
Encoding=UTF-8
NotShowIn=KDE;
Categories=GNOME;GTK;Settings;DesktopSettings;
StartupNotify=false
Name=Welcome Screen
Name[ko]=환영합니다
Comment=Introduction to HamoniKR
Comment[ko]=하모니카 소개
GenericName=Welcome Screen
GenericName[ko]=환영합니다
